body{background: whitesmoke;}
h1,h2{text-align: center;}
h2{margin-top:30px;margin-bottom: 30px;}
#email{color:red; position:absolute;right: 10px;}
#introduction{width:70%; margin:0 auto;margin-top:50px;}
a,.linkSiteGo{margin-top:100px;display: inline-block; text-decoration: none;}
#operation{display:flex;background:white;}
#operation div{width:100%;}
#variable div{width: 25%;}
#variable{display: flex;width:100%}